body{
    background: #c0c0c0 ;
}
.jumbotron{
    background: #cecece;
}
.navbar {
    border-radius: 0;
}
.navbar-brand{
    font-family:  "Satisfy", cursive;
}
.figure-caption{
    font-family:"Satisfy", cursive;
}
.sidenav {
    padding-top: 20px;
    height: 100%;
}


#follow table {
    width: 100%;
    font-size: 11pt;
}
#follow table, th, td {
    border: 2px solid #cecece;
    border-collapse: collapse;
    text-align: center;
    table-layout: fixed;
}
#contacts img {
    height: 50px;
    width: 50px;
    margin-left: 7px;
    margin-right: 7px;
}
#contacts a {
    text-decoration: none;
}
#contacts img:hover {
    opacity: 0.8;
}
#contacts {
    text-align: center;
    font-size: 10pt;
}
#contacts table {
    width: 100%;
    font-size: 6pt;
}
#contacts table, th, td {
    border: 0 solid #cecece;
    border-collapse: collapse;
    text-align: center;
    table-layout: fixed;
}
.copyright {
    font-size: 8pt;
    text-align: right;
    padding-bottom: 10px;
    color: grey;
}