{% load staticfiles %}


<!DOCTYPE html>
<html lang="en">
<link>
    <meta charset="UTF-8">
    <title>{% block title %}christine{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>

    <link rel="stylesheet"  type="text/css" href="{% static "styles.css" %}" >

<header>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">

            <!-- Header -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand navbar-left" href="{% url 'index' %}">Music Albums</a>
            </div>

            <!-- Items -->
            <div class="collapse navbar-collapse" id="topNavBar">
                <ul class="nav navbar-nav ">
                    <li class=""><a href="{% url 'index' %}"><span class="glyphicon glyphicon-camera" aria-hidden="true"></span>&nbsp; Albums</a></li>
                    <li class=""><a href="{% url 'about' %}"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp; About</a></li>
                </ul>
                <form class="navbar-form navbar-right" role="search" method="get" action="{% url 'index' %}">
                    <div class="form-group">
                        <input type="text" class="form-control" name="q" value="{{ request.GET.q }}">
                    </div>
                    <button type="submit" class="btn btn-primary">Search</button>
                </form>
            </div>

        </div>
   </nav>

</header>



<body>

{% block body %}



{% endblock %}

  <footer>

<div class="jumbotron ">


  <div class="container">
     <div class="follow" id="contacts">
                <h1><span>Follow Me</span></h1>
                <div>
                <table><tr><td>

                    <a href="" target="_blank">
                        <img alt="LinkedIn" src="https://cdn2.iconfinder.com/data/icons/black-white-social-media/32/linked_in_online_social_media-128.png" />
                    </a><br/>LINKED IN</td><td>
                    <a href="" target="_blank">
                        <img alt="Facebook" src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/facebook_circle_black-512.png" />
                    </a><br/>Facebook</td><td>
                    <a href="" target="_blank">
                        <img alt="Instagram" src="https://cdn4.iconfinder.com/data/icons/picons-social/57/38-instagram-3-512.png"/>
                    </a><br/>Instagram</td><td>
                  </table>
                </div>
            </div>
            </div>
    </div>
 </footer>

<div class="container">
    <div class="copyright">
              &copy; 2019 Hezekiah. All rights reserved.
      </div>
    </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>
</html>