{% extends "base.html" %}

{% block body %}


        {% for image in album.images_set.all %}
    <div class="container">
        <div class="row">
             <div class="col-lg-6">
                <div class="thumbnail">
                   <img src="{{ image.image_link }}" alt="images">
                <div class="caption">
                    <h3>{{ image.image_caption }}</h3>
                    <figcaption class="figure-caption text-right">Created by Hezekiah.</figcaption>
                </div>
             </div>
          </div>
      </div>
    </div>

    {% endfor %}
{% endblock body %}