{% extends "base.html" %}

{% block body %}
{% if all_albums %}
    {% for album in all_albums %}
    <div class="container">
        <div class="row">
             <div class="col-lg-6">
                <div class="thumbnail">
                   <a href="{{ album.id }}"> <img src="{{ album.logo }}" alt="images" width="300" height="300"></a>
                <div class="caption">
                    <h3>{{ album.album_name }}</h3>
                    <figcaption class="figure-caption text-right">Created by Hezekiah</figcaption>
                </div>
             </div>
          </div>
      </div>
    </div>
    {% endfor %}
{% endif %}
{% endblock body %}